/*-------------------------
*      Styles Box
--------------------------*/
.MxBox{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.85);
	margin-left: -10px;
}
.MxBoxWindow{
	position: absolute;
	display: table;
	top: 0px;
}
.MxImg{
	width: 100%;
	height: auto;
}
.MxBoxClose{
	position: absolute;
	top: 20px;
	right: 50px;
	width: 20px;
	height: 20px;
	background-color: #fff;
	cursor: pointer;
}

.MxBoxPrev, .MxBoxNext{
	position: absolute;
	width: 100px;
	height: 200px;
	top: 50%;
	margin-top: -100px;
	background-color: #fff;
}
.MxBoxPrev{
	left: 0px;
}
.MxBoxNext{
	right: 0px;
}

.descImg{
	position: absolute;
	max-width: 80%;
	background-color: rgba(197, 194, 186, 0.75);
	bottom: 20px;
	padding: 10px;
}